@font-face {font-family: "simple-line-icons";src: url("../fonts/Simple-Line-Icons.eot?v=2.4.0");src: url("../fonts/Simple-Line-Icons.eot?v=2.4.0#iefix") format("embedded-opentype"),url("../fonts/Simple-Line-Icons.woff2?v=2.4.0") format("woff2"),url("../fonts/Simple-Line-Icons.ttf?v=2.4.0") format("truetype"),url("../fonts/Simple-Line-Icons.woff?v=2.4.0") format("woff"),url("../fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons") format("svg");font-weight: normal;font-style: normal;}
.sl-user, .sl-people, .sl-user-female, .sl-user-follow, .sl-user-following, .sl-user-unfollow, .sl-login, .sl-logout, .sl-emotsmile, .sl-phone, .sl-call-end, .sl-call-in, .sl-call-out, .sl-map, .sl-location-pin, .sl-direction, .sl-directions, .sl-compass, .sl-layers, .sl-menu, .sl-list, .sl-options-vertical, .sl-options, .sl-arrow-down, .sl-arrow-left, .sl-arrow-right, .sl-arrow-up, .sl-arrow-up-circle, .sl-arrow-left-circle, .sl-arrow-right-circle, .sl-arrow-down-circle, .sl-check, .sl-clock, .sl-plus, .sl-minus, .sl-close, .sl-event, .sl-exclamation, .sl-organization, .sl-trophy, .sl-screen-smartphone, .sl-screen-desktop, .sl-plane, .sl-notebook, .sl-mustache, .sl-mouse, .sl-magnet, .sl-energy, .sl-disc, .sl-cursor, .sl-cursor-move, .sl-crop, .sl-chemistry, .sl-speedometer, .sl-shield, .sl-screen-tablet, .sl-magic-wand, .sl-hourglass, .sl-graduation, .sl-ghost, .sl-game-controller, .sl-fire, .sl-eyeglass, .sl-envelope-open, .sl-envelope-letter, .sl-bell, .sl-badge, .sl-anchor, .sl-wallet, .sl-vector, .sl-speech, .sl-puzzle, .sl-printer, .sl-present, .sl-playlist, .sl-pin, .sl-picture, .sl-handbag, .sl-globe-alt, .sl-globe, .sl-folder-alt, .sl-folder, .sl-film, .sl-feed, .sl-drop, .sl-drawer, .sl-docs, .sl-doc, .sl-diamond, .sl-cup, .sl-calculator, .sl-bubbles, .sl-briefcase, .sl-book-open, .sl-basket-loaded, .sl-basket, .sl-bag, .sl-action-undo, .sl-action-redo, .sl-wrench, .sl-umbrella, .sl-trash, .sl-tag, .sl-support, .sl-frame, .sl-size-fullscreen, .sl-size-actual, .sl-shuffle, .sl-share-alt, .sl-share, .sl-rocket, .sl-question, .sl-pie-chart, .sl-pencil, .sl-note, .sl-loop, .sl-home, .sl-grid, .sl-graph, .sl-microphone, .sl-music-tone-alt, .sl-music-tone, .sl-earphones-alt, .sl-earphones, .sl-equalizer, .sl-like, .sl-dislike, .sl-control-start, .sl-control-rewind, .sl-control-play, .sl-control-pause, .sl-control-forward, .sl-control-end, .sl-volume-1, .sl-volume-2, .sl-volume-off, .sl-calendar, .sl-bulb, .sl-chart, .sl-ban, .sl-bubble, .sl-camrecorder, .sl-camera, .sl-cloud-download, .sl-cloud-upload, .sl-envelope, .sl-eye, .sl-flag, .sl-heart, .sl-info, .sl-key, .sl-link, .sl-lock, .sl-lock-open, .sl-magnifier, .sl-magnifier-add, .sl-magnifier-remove, .sl-paper-clip, .sl-paper-plane, .sl-power, .sl-refresh, .sl-reload, .sl-settings, .sl-star, .sl-symbol-female, .sl-symbol-male, .sl-target, .sl-credit-card, .sl-paypal, .sl-social-tumblr, .sl-social-twitter, .sl-social-facebook, .sl-social-instagram, .sl-social-linkedin, .sl-social-pinterest, .sl-social-github, .sl-social-google, .sl-social-reddit, .sl-social-skype, .sl-social-dribbble, .sl-social-behance, .sl-social-foursqare, .sl-social-soundcloud, .sl-social-spotify, .sl-social-stumbleupon, .sl-social-youtube, .sl-social-dropbox, .sl-social-vkontakte, .sl-social-steam {font-family: "simple-line-icons";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.sl-user:before {content: "";}
.sl-people:before {content: "";}
.sl-user-female:before {content: "";}
.sl-user-follow:before {content: "";}
.sl-user-following:before {content: "";}
.sl-user-unfollow:before {content: "";}
.sl-login:before {content: "";}
.sl-logout:before {content: "";}
.sl-emotsmile:before {content: "";}
.sl-phone:before {content: "";}
.sl-call-end:before {content: "";}
.sl-call-in:before {content: "";}
.sl-call-out:before {content: "";}
.sl-map:before {content: "";}
.sl-location-pin:before {content: "";}
.sl-direction:before {content: "";}
.sl-directions:before {content: "";}
.sl-compass:before {content: "";}
.sl-layers:before {content: "";}
.sl-menu:before {content: "";}
.sl-list:before {content: "";}
.sl-options-vertical:before {content: "";}
.sl-options:before {content: "";}
.sl-arrow-down:before {content: "";}
.sl-arrow-left:before {content: "";}
.sl-arrow-right:before {content: "";}
.sl-arrow-up:before {content: "";}
.sl-arrow-up-circle:before {content: "";}
.sl-arrow-left-circle:before {content: "";}
.sl-arrow-right-circle:before {content: "";}
.sl-arrow-down-circle:before {content: "";}
.sl-check:before {content: "";}
.sl-clock:before {content: "";}
.sl-plus:before {content: "";}
.sl-minus:before {content: "";}
.sl-close:before {content: "";}
.sl-event:before {content: "";}
.sl-exclamation:before {content: "";}
.sl-organization:before {content: "";}
.sl-trophy:before {content: "";}
.sl-screen-smartphone:before {content: "";}
.sl-screen-desktop:before {content: "";}
.sl-plane:before {content: "";}
.sl-notebook:before {content: "";}
.sl-mustache:before {content: "";}
.sl-mouse:before {content: "";}
.sl-magnet:before {content: "";}
.sl-energy:before {content: "";}
.sl-disc:before {content: "";}
.sl-cursor:before {content: "";}
.sl-cursor-move:before {content: "";}
.sl-crop:before {content: "";}
.sl-chemistry:before {content: "";}
.sl-speedometer:before {content: "";}
.sl-shield:before {content: "";}
.sl-screen-tablet:before {content: "";}
.sl-magic-wand:before {content: "";}
.sl-hourglass:before {content: "";}
.sl-graduation:before {content: "";}
.sl-ghost:before {content: "";}
.sl-game-controller:before {content: "";}
.sl-fire:before {content: "";}
.sl-eyeglass:before {content: "";}
.sl-envelope-open:before {content: "";}
.sl-envelope-letter:before {content: "";}
.sl-bell:before {content: "";}
.sl-badge:before {content: "";}
.sl-anchor:before {content: "";}
.sl-wallet:before {content: "";}
.sl-vector:before {content: "";}
.sl-speech:before {content: "";}
.sl-puzzle:before {content: "";}
.sl-printer:before {content: "";}
.sl-present:before {content: "";}
.sl-playlist:before {content: "";}
.sl-pin:before {content: "";}
.sl-picture:before {content: "";}
.sl-handbag:before {content: "";}
.sl-globe-alt:before {content: "";}
.sl-globe:before {content: "";}
.sl-folder-alt:before {content: "";}
.sl-folder:before {content: "";}
.sl-film:before {content: "";}
.sl-feed:before {content: "";}
.sl-drop:before {content: "";}
.sl-drawer:before {content: "";}
.sl-docs:before {content: "";}
.sl-doc:before {content: "";}
.sl-diamond:before {content: "";}
.sl-cup:before {content: "";}
.sl-calculator:before {content: "";}
.sl-bubbles:before {content: "";}
.sl-briefcase:before {content: "";}
.sl-book-open:before {content: "";}
.sl-basket-loaded:before {content: "";}
.sl-basket:before {content: "";}
.sl-bag:before {content: "";}
.sl-action-undo:before {content: "";}
.sl-action-redo:before {content: "";}
.sl-wrench:before {content: "";}
.sl-umbrella:before {content: "";}
.sl-trash:before {content: "";}
.sl-tag:before {content: "";}
.sl-support:before {content: "";}
.sl-frame:before {content: "";}
.sl-size-fullscreen:before {content: "";}
.sl-size-actual:before {content: "";}
.sl-shuffle:before {content: "";}
.sl-share-alt:before {content: "";}
.sl-share:before {content: "";}
.sl-rocket:before {content: "";}
.sl-question:before {content: "";}
.sl-pie-chart:before {content: "";}
.sl-pencil:before {content: "";}
.sl-note:before {content: "";}
.sl-loop:before {content: "";}
.sl-home:before {content: "";}
.sl-grid:before {content: "";}
.sl-graph:before {content: "";}
.sl-microphone:before {content: "";}
.sl-music-tone-alt:before {content: "";}
.sl-music-tone:before {content: "";}
.sl-earphones-alt:before {content: "";}
.sl-earphones:before {content: "";}
.sl-equalizer:before {content: "";}
.sl-like:before {content: "";}
.sl-dislike:before {content: "";}
.sl-control-start:before {content: "";}
.sl-control-rewind:before {content: "";}
.sl-control-play:before {content: "";}
.sl-control-pause:before {content: "";}
.sl-control-forward:before {content: "";}
.sl-control-end:before {content: "";}
.sl-volume-1:before {content: "";}
.sl-volume-2:before {content: "";}
.sl-volume-off:before {content: "";}
.sl-calendar:before {content: "";}
.sl-bulb:before {content: "";}
.sl-chart:before {content: "";}
.sl-ban:before {content: "";}
.sl-bubble:before {content: "";}
.sl-camrecorder:before {content: "";}
.sl-camera:before {content: "";}
.sl-cloud-download:before {content: "";}
.sl-cloud-upload:before {content: "";}
.sl-envelope:before {content: "";}
.sl-eye:before {content: "";}
.sl-flag:before {content: "";}
.sl-heart:before {content: "";}
.sl-info:before {content: "";}
.sl-key:before {content: "";}
.sl-link:before {content: "";}
.sl-lock:before {content: "";}
.sl-lock-open:before {content: "";}
.sl-magnifier:before {content: "";}
.sl-magnifier-add:before {content: "";}
.sl-magnifier-remove:before {content: "";}
.sl-paper-clip:before {content: "";}
.sl-paper-plane:before {content: "";}
.sl-power:before {content: "";}
.sl-refresh:before {content: "";}
.sl-reload:before {content: "";}
.sl-settings:before {content: "";}
.sl-star:before {content: "";}
.sl-symbol-female:before {content: "";}
.sl-symbol-male:before {content: "";}
.sl-target:before {content: "";}
.sl-credit-card:before {content: "";}
.sl-paypal:before {content: "";}
.sl-social-tumblr:before {content: "";}
.sl-social-twitter:before {content: "";}
.sl-social-facebook:before {content: "";}
.sl-social-instagram:before {content: "";}
.sl-social-linkedin:before {content: "";}
.sl-social-pinterest:before {content: "";}
.sl-social-github:before {content: "";}
.sl-social-google:before {content: "";}
.sl-social-reddit:before {content: "";}
.sl-social-skype:before {content: "";}
.sl-social-dribbble:before {content: "";}
.sl-social-behance:before {content: "";}
.sl-social-foursqare:before {content: "";}
.sl-social-soundcloud:before {content: "";}
.sl-social-spotify:before {content: "";}
.sl-social-stumbleupon:before {content: "";}
.sl-social-youtube:before {content: "";}
.sl-social-dropbox:before {content: "";}
.sl-social-vkontakte:before {content: "";}
.sl-social-steam:before {content: "";}